body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
  background-image: url('/Day 21-30/Day 21/Background-Particle-Animation/pexels-photo-1036657.jpeg');
}

#particles-js{
background: 
}