body {
    background-color: #a93ddb;
  }
  .container {
    font-family: "Poppins", sans-serif;
    width: 400px;
    padding: 5em 1.5em;
    text-align: center;
    background: #ffffff;
    border-radius: 0.3em;
    font-size: 1.4em;
    line-height: 1.8em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 45px rgba(1, 4, 40, 0.2);
  }
  #arr1-ref,
  #arr2-ref {
    letter-spacing: 0.2em;
  }
  #result {
    font-size: 0.8em;
    margin-top: 1em;
    background-color: #d7e9ff;
    color: #2f4f76;
    font-weight: 400;
  }
  span {
    color: #0c2545;
    font-weight: 600;
  }
  