body {
    background-color: #2a1544;
    margin: 0;
    font-family: monospace;
    color: #fff;
    text-align: center;
}

.header {
    background-color: #211035;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    background-color: #ed657d;
    color: #f2f2f2;
    text-align: center;
    margin: 5px;
    padding: 15px 35px;
    border-radius: 4em;
    border: 1px solid transparent;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: 0.8s;
    will-change: transform;
    z-index: 99;
}

.btn:active {
    transform: scale(0.9);
}

.notification {
    width: 50px;
    height: inherit;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notification::after {
    min-width: 20px;
    height: 20px;
    content: attr(data-count);
    background-color: #ed657d;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    font-size: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0.5);
    will-change: opacity, transform;
}

.notification.show-count::after {
    opacity: 1;
    transform: scale(1);
}

.notification::before {
    content: "\f0f3";
    font-family: "FontAwesome";
    display: block;
}

.notification.notify::before {
    animation: bell 1s ease-out;
    transform-origin: center top;
}

@keyframes bell {
    0% {
        transform: rotate(35deg);
    }

    12.5% {
        transform: rotate(-30deg);
    }

    25% {
        transform: rotate(25deg);
    }

    37.5% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(15deg);
    }

    62.5% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}