* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #5b1477;
}
.container {
  background-color: #ffffff;
  border-radius: 0.8em;
  width: 95%;
  max-width: 43.75em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 5em 2em;
}
.txtareas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
label {
  color: #02001f;
  font-weight: 600;
}
.txtareas div {
  display: flex;
  flex-direction: column;
}
.txtareas textarea {
  resize: none;
  border: 1px solid #02001f;
  border-radius: 0.3em;
  margin: 1em 0 2em 0;
  padding: 0.8em;
}
#len {
  width: 5em;
  padding: 0.8em 1em;
  border: 1px solid #02001f;
  border-radius: 0.5em;
}
#truncate,
#copy {
  padding: 0.8em 1em;
  border-radius: 0.5em;
  border: none;
  background-color: #8b639b;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .txtareas {
    grid-template-columns: 1fr;
  }
}
